@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap');

html{
    background-color: #f4f4f9;
}
body {
    margin: 0;
    padding: 0;
    
}

.QuizMain {
    text-align: center;
    width: 100%;
    height: 300px; /* 수정함 */
    box-sizing: border-box;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
}

.QuizMain-header {
    width: 100%;
    background-color: #d9d9d9;
    padding: 30px;
    color: black;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Hahmlet", serif;
    font-weight: 300;
    font-style: normal;
}

.QuizMain-title {
    margin: 0;
    font-size: 3em;
}

.QuizMain-info {
    position: absolute;
    bottom: 10px;
    right: 30px;
    margin: 0;
    font-size: 1em;
}


.next_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 90px;
    width: 200px;
    border-radius: 30%;
  }
  
  .next_page p {
    margin-bottom: 10px;
  }
  
  .start-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .start-button:hover {
    background-color: #45a049;
  }